executor {
  name = 'sge'
}

singularity.runOptions = "-B ${HOME},${PWD}"
apptainer.runOptions = "-B ${HOME},${PWD}"

process {

    //NEED TO SET PARALLEL ENVIRONMENT TO SMP SO MULTIPLE CPUS CAN BE SUBMITTED
    penv = 'smp'

    //ADD MEMORY TO CLUSTEROPTIONS 
    clusterOptions = { "-S /bin/bash -l h_vmem=${task.memory.mega}M" }
}
