executor {
  name = 'sge'
}

singularity.runOptions = "-B ${HOME},${PWD}"
apptainer.runOptions = "-B ${HOME},${PWD}"

process {

    //NEED TO SET PARALLEL ENVIRONMENT TO SMP SO MULTIPLE CPUS CAN BE SUBMITTED
    penv = 'smp'

    //DEFAULT RESOURCES TO ALLOW CLUSTEROPTIONS TO WORK
    cpus   = { check_max( 1    * task.attempt, 'cpus'   ) }
    time   = { check_max( 1.h  * task.attempt, 'time'   ) }
    memory = { check_max( 2.GB * task.attempt, 'memory'  ) }

    //ADD MEMORY TO CLUSTEROPTIONS 
    clusterOptions = "-S /bin/bash -l h_vmem=${task.memory.mega}M"
}
