executor {
  name = 'sge'
}

singularity.runOptions = "-B ${HOME},${PWD}"
apptainer.runOptions = "-B ${HOME},${PWD}"

process {

    //NEED TO SET PARALLEL ENVIRONMENT TO SMP SO MULTIPLE CPUS CAN BE SUBMITTED
    penv = 'smp'

    //ADD MEMORY TO CLUSTEROPTIONS BUT RESERVE VIRTUAL MEMORY NEEDED FOR A SINGLE CPU 
    clusterOptions = { "-S /bin/bash -l h_vmem=${(task.memory.mega/task.cpus)}M" }
}
