executor {
  name = 'sge'
}

singularity.runOptions = "-B ${HOME}"

process {

    //NEED TO SET PARALLEL ENVIRONMENT TO SMP SO MULTIPLE CPUS CAN BE SUBMITTED
    penv = 'smp'

    //DUE TO HOW CS CLUSTER IS SET UP, THE ERROR STRATEGY MUST BE FAILING NOT RETRY
    errorStrategy = 'terminate'
    maxRetries = 0

    //ADD DEFAULT RESOURCE VALUES FOR UNLABELLED PROCESSES
    cpus   = 1
    time   = 6.h
    memory = 6.GB

    //ADD MEMORY TO CLUSTEROPTIONS 
    clusterOptions = { "-S /bin/bash -l tmem=${task.memory.mega}M,h_vmem=${task.memory.mega}M" }

    withLabel:process_single {
        cpus   = 1
        time   = 1.h
        memory = 6.GB
    }
    withLabel:process_low {
        cpus   = 2
        time   = 2.h
        memory = 6.GB
    }
    withLabel:process_medium {
        cpus   = 4
        time   = 4.h
        memory = 10.GB
    }
    withLabel:process_high {
        cpus   = 8
        time   = 8.h
        memory = 16.GB
    }
    withLabel:process_long {
        cpus   = 1
        time   = 24.h
        memory = 2.GB
    }
    withLabel:process_high_memory {

        cpus   = 1
        time   = 1.h
        memory = 64.GB
    }
    withLabel:error_ignore {
        errorStrategy = 'ignore'
    }
}
